/* Master Styles */
body {
  margin: 2em;
  background: url(Border.svg) repeat;
  background-size: auto auto;
}
nav {
  margin-top: 5.5em;
  margin-left: 6em;
}
button {
  font-family: Arial;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
portfolio {
  margin-left: 6em;
}
.logo {
  margin-top: 1em;
}
about > div, tech > div, travel > div, contact > div {
    margin-left: 6em;
    margin-top: 3em;
}
/* everywhere else */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
@media (max-width: 500px) {
  * {
    font-size: 12px;
  }
  about > div, tech > div, travel > div, contact > div {
    margin-left: 6.5em;
    margin-top: 2em;
  }
  portfolio {
    margin-left: 6.5em;
  }
  .logo {
    margin-top: 1.5em;
  }
  nav {
    margin-top: 5.5em;
    margin-left: 6.5em;
  }
}
