<div>
  <a href="mailto:domdunnett@gmail.com">
    <img class="icon" src="email.svg" alt="Email">
  </a>
  <span>Ping me an Email.</span>
</div>
<div>
  <a href="https://sg.linkedin.com/in/domdunnett">
    <img class="icon" src="linkedin.svg" alt="LinkedIn">
  </a>
  <span>Get me on LinkedIn.</span>
</div>
<div>
  <a href="https://www.instagram.com/domdunnett/">
    <img class="icon" src="instagram.svg" alt="Instagram">
  </a>
  <span>Follow me on Instagram.</span>
</div>
<div>
  <a href="https://twitter.com/domdunnett">
    <img class="icon" src="twitter.svg" alt="Twitter">
  </a>
  <span>Follow me on Twitter.</span>
</div>
