h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0
}
nav a:visited, a:link {
  color: black;
}
nav a.router-link-active {
  box-shadow: 0 1px 1px 0;
}
@media (max-width: 500px) {
  nav a {
    padding: 3px 6px;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0;
    font-size: 12px;
  }
  nav a:visited, a:link {
    color: black;
  }
  nav a.router-link-active {
    box-shadow: 0 1px 1px 0;
  }
}
