<div>
  <p>
    Currently I am a full stack developer @
    <a href="https://www.skyscanner.com">
      <img src="skyscannerLogo.svg" alt="Skyscanner">
    </a>.
  </p>
  <p>I am comfortable working in all areas of web development from initial design, to both frontend and backend development.</p>
  <p>Tech Experience:</p>
  <ul>
    <li>Javascript</li>
      <ul>
        <li>AngularJS (this site is built using Angular2)</li>
        <li>Nodejs</li>
        <li>Meteorjs</li>
      </ul>
    <li>Web Design</li>
      <ul>
        <li>Sketch</li>
        <li>Adobe Illustrator</li>
      </ul>
    <li>Python</li>
      <ul>
        <li>Django</li>
      </ul>
    <li>Ruby</li>
      <ul>
        <li>Rails</li>
      </ul>
  </ul>
</div>
